.addCafe_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container, .form_container2 {
    margin-bottom: 30px;
}

.form_container label, .form_container2 label {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: var(--main_color);
    width: 110px;
    margin-bottom: 5px;
}

.form_container input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

/* div : checkbox_container */
.checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox_container label {
    width: 130px;
    color: black;
    margin-left: 5px;
}

/*태그 추가 버튼*/
.form_container .addCategory_btn {
    width: 5rem;
    height: 2.4rem;
    border-radius: 10px;
    color: white;
    background-color: var(--main_color);
    font-family: "NanumSquareRound";
    font-size: 18px;
    border: none;
    margin-left: 1rem;
}

.form_container .addCategory_btn:hover {
    background-color: #9d9e9de3;
  }

/*등록하기 버튼*/
.addButton {
    display: flex;
    justify-content: center;
}

.addButton button {
    margin-top: 2rem;
    width: 320px;
    height: 2.4rem;
    background-color: var(--main_color);
    border-radius: 10px;
    color: white;
    border: none;
    font-family: "NanumSquareRound";
    font-size: 18px;
}

.addButton button:hover {
    background-color: #9d9e9de3;
  }