.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #6e5eff;
}

.Navbar .navbar_container {
    display: flex;
    justify-content: space-between;
    /**/
    align-items: center;
    width: 100%;
}
.Navbar .serviceName {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    font-weight: 900;
    margin-left: 5rem;
}

.Navbar .navLink_container {
    margin-right: 5rem;
}

.Navbar .navLink {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-left: 3rem;
}