.tags_container button {
    padding: 5px;
    background-color: var(--main_color);
    border-radius: 5px;
    margin: 5px;
    color: white;
    border: none;
  }
  
  .tags_container button:hover {
    background-color: #9d9e9de3;
  }
  
  .card {
    padding: 20px;
    width: 100%;
    border: solid var(--main_color);
    margin: 10px 0;
    border-radius: 15px;
  }
  
  .close {
    border: none;
    padding: 10px;
    background-color: var(--main_color);
    color: white;
    margin: 0 10px;
  }
  
  .tag-filter {
    position: relative;
    justify-content: center;
    padding: 20px 10px;
  }
  
  .tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 300px;
  }