.card {
  padding: 20px;
  width: 800px; /*100%에서 수정*/
  box-shadow: rgba(118, 117, 117, 0.5) 0px 0px 8px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 15px;
}

.close {
  border: none;
  padding: 10px;
  background-color: var(--main_color);
  color: white;
}

.tags_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.detail_link {
  text-align: end;
}